#include <physical_layouts.dtsi>

/ {
    dactyl_suraj_layout: dactyl_suraj_layout {
        compatible = "zmk,physical-layout";
        display-name = "Dactyl Suraj";

        transform = <&right_transform>;
        kscan = <&kscan0>;

        keys =
            /* R0 */
            <&key_physical_attrs 100 100    0  38  0 0 0>,
            <&key_physical_attrs 100 100  100 38  0 0 0>,
            <&key_physical_attrs 100 100  200 13  0 0 0>,
            <&key_physical_attrs 100 100  300  0  0 0 0>,
            <&key_physical_attrs 100 100  400 13  0 0 0>,
            <&key_physical_attrs 100 100  500 25  0 0 0>,
            <&key_physical_attrs 100 100  900 25  0 0 0>,

            /* R1 */
            <&key_physical_attrs 100 100    0 138  0 0 0>,
            <&key_physical_attrs 100 100  100 138  0 0 0>,
            <&key_physical_attrs 100 100  200 113  0 0 0>,
            <&key_physical_attrs 100 100  300 100  0 0 0>,
            <&key_physical_attrs 100 100  400 113  0 0 0>,
            <&key_physical_attrs 200 100 1400 138  0 0 0>,

            /* R2 */
            <&key_physical_attrs 100 100    0 238  0 0 0>,
            <&key_physical_attrs 100 100  100 238  0 0 0>,
            <&key_physical_attrs 100 100  200 213  0 0 0>,
            <&key_physical_attrs 100 100  300 200  0 0 0>,
            <&key_physical_attrs 100 100  400 213  0 0 0>,
            <&key_physical_attrs 100 100  500 225  0 0 0>,
            <&key_physical_attrs 100 100  900 225  0 0 0>,

            /* R3 */
            <&key_physical_attrs 100 100    0 338  0 0 0>,
            <&key_physical_attrs 100 100  100 338  0 0 0>,
            <&key_physical_attrs 100 100  200 313  0 0 0>,
            <&key_physical_attrs 100 100  300 300  0 0 0>,
            <&key_physical_attrs 100 100  400 313  0 0 0>,
            <&key_physical_attrs 100 100  500 325  0 0 0>,
            <&key_physical_attrs 100 100  900 325  0 0 0>,

            /* R4 */
            <&key_physical_attrs 100 100  200 413  0 0 0>,
            <&key_physical_attrs 100 100  300 400  0 0 0>,
            <&key_physical_attrs 100 100  400 413  0 0 0>,
            <&key_physical_attrs 100 100  500 438  0 0 0>,
            <&key_physical_attrs 100 100  900 438  0 0 0>,

            /* R5 */
            <&key_physical_attrs 100 100 348 513  0 0 0>,
            <&key_physical_attrs 100 100 400 513 15 398 789>,
            <&key_physical_attrs 100 150 448 463 30 398 789>
        ;
    };
};