#include <physical_layouts.dtsi>

/ {
    dactyl_suraj_left_layout: dactyl_suraj_left_layout {
        compatible = "zmk,physical-layout";
        display-name = "Dactyl Suraj Left";
        transform = <&left_transform>;

        keys =
            /* Row 0 */
            <&key_physical_attrs 100 100   0  38    0    0   0>,
            <&key_physical_attrs 100 100 100  38    0    0   0>,
            <&key_physical_attrs 100 100 200  13    0    0   0>,
            <&key_physical_attrs 100 100 300   0    0    0   0>,
            <&key_physical_attrs 100 100 400  13    0    0   0>,
            <&key_physical_attrs 100 100 500  25    0    0   0>,

            /* Row 1 */
            <&key_physical_attrs 100 100   0 138    0    0   0>,
            <&key_physical_attrs 100 100 100 138    0    0   0>,
            <&key_physical_attrs 100 100 200 113    0    0   0>,
            <&key_physical_attrs 100 100 300 100    0    0   0>,
            <&key_physical_attrs 100 100 400 113    0    0   0>,
            <&key_physical_attrs 100 100 500 125    0    0   0>,

            /* Row 2 */
            <&key_physical_attrs 100 100   0 238    0    0   0>,
            <&key_physical_attrs 100 100 100 238    0    0   0>,
            <&key_physical_attrs 100 100 200 213    0    0   0>,
            <&key_physical_attrs 100 100 300 200    0    0   0>,
            <&key_physical_attrs 100 100 400 213    0    0   0>,
            <&key_physical_attrs 100 100 500 225    0    0   0>,

            /* Row 3 */
            <&key_physical_attrs 100 100   0 338    0    0   0>,
            <&key_physical_attrs 100 100 100 338    0    0   0>,
            <&key_physical_attrs 100 100 200 313    0    0   0>,
            <&key_physical_attrs 100 100 300 300    0    0   0>,
            <&key_physical_attrs 100 100 400 313    0    0   0>,
            <&key_physical_attrs 100 100 500 325    0    0   0>,

            /* Row 4 */
            <&key_physical_attrs 100 100   0 438    0    0   0>,
            <&key_physical_attrs 100 100 100 438    0    0   0>,
            <&key_physical_attrs 100 100 200 413    0    0   0>,
            <&key_physical_attrs 100 100 300 400    0    0   0>,

            /* Row 5 */
            <&key_physical_attrs 100 100 348 513    0    0   0>,
            <&key_physical_attrs 100 100 400 513 1500  398 789>,
            <&key_physical_attrs 100 150 448 463 3000  398 789>
        ;
    };

    dactyl_suraj_right_layout: dactyl_suraj_right_layout {
        compatible = "zmk,physical-layout";
        display-name = "Dactyl Suraj Right";
        transform = <&right_transform>;

        keys =
            /* Row 0 */
            <&key_physical_attrs 100 100  900  25    0    0    0>,
            <&key_physical_attrs 100 100 1000  13    0    0    0>,
            <&key_physical_attrs 100 100 1100   0    0    0    0>,
            <&key_physical_attrs 100 100 1200  13    0    0    0>,
            <&key_physical_attrs 100 100 1300  38    0    0    0>,
            <&key_physical_attrs 100 100 1400  38    0    0    0>,
            <&key_physical_attrs 100 100 1500  38    0    0    0>,

            /* Row 1 */
            <&key_physical_attrs 100 100  900 125    0    0    0>,
            <&key_physical_attrs 100 100 1000 113    0    0    0>,
            <&key_physical_attrs 100 100 1100 100    0    0    0>,
            <&key_physical_attrs 100 100 1200 113    0    0    0>,
            <&key_physical_attrs 100 100 1300 138    0    0    0>,
            <&key_physical_attrs 200 100 1400 138    0    0    0>,

            /* Row 2 */
            <&key_physical_attrs 100 100  900 225    0    0    0>,
            <&key_physical_attrs 100 100 1000 213    0    0    0>,
            <&key_physical_attrs 100 100 1100 200    0    0    0>,
            <&key_physical_attrs 100 100 1200 213    0    0    0>,
            <&key_physical_attrs 100 100 1300 238    0    0    0>,
            <&key_physical_attrs 100 100 1400 238    0    0    0>,
            <&key_physical_attrs 100 100 1500 238    0    0    0>,

            /* Row 3 */
            <&key_physical_attrs 100 100  900 325    0    0    0>,
            <&key_physical_attrs 100 100 1000 313    0    0    0>,
            <&key_physical_attrs 100 100 1100 300    0    0    0>,
            <&key_physical_attrs 100 100 1200 313    0    0    0>,
            <&key_physical_attrs 100 100 1300 338    0    0    0>,
            <&key_physical_attrs 100 100 1400 338    0    0    0>,
            <&key_physical_attrs 100 100 1500 338    0    0    0>,

            /* Row 4 */
            <&key_physical_attrs 100 100 1100 400    0    0    0>,
            <&key_physical_attrs 100 100 1200 413    0    0    0>,
            <&key_physical_attrs 100 100 1300 438    0    0    0>,
            <&key_physical_attrs 100 100 1400 438    0    0    0>,
            <&key_physical_attrs 100 100 1500 438    0    0    0>,

            /* Row 5 */
            <&key_physical_attrs 150 150  952 463 (-3000) 1102 789>,
            <&key_physical_attrs 100 100 1000 513 (-1500) 1102 789>,
            <&key_physical_attrs 100 100 1052 513    0    0   0>
        ;
    };
};