#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* LEFT: 31 keys */

                /* Row 0 */
                &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5

                /* Row 1 */
                &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T

                /* Row 2 */
                &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G

                /* Row 3 */
                &kp RSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B

                /* Row 4 */
                &kp RCTRL  &kp SQT    &kp BSLH   &kp POUND

                /* Row 5 */
                &kp LGUI   &kp LALT   &kp SPACE


                /* RIGHT: 35 keys */

                /* Row 0 */
                &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSPC   &kp DEL

                /* Row 1 */
                &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RET

                /* Row 2 */
                &kp H      &kp J      &kp K      &kp L      &kp FSLH   &kp LBKT   &kp RBKT

                /* Row 3 */
                &kp N      &kp M      &kp COMMA  &kp DOT    &kp SEMI   &kp UP     &kp GRAVE

                /* Row 4 */
                &kp MINUS  &kp EQUAL  &kp LEFT   &kp DOWN   &kp RIGHT

                /* Row 5 */
                &kp SPACE  &kp RALT   &kp RCTRL
            >;
        };
    };
};