#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1   &kp N2    &kp N3     &kp N4    &kp N5       &kp N6     &kp N7    &kp N#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                /* Row 0: 7 */
                &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp BSPC    &kp DEL

                /* Row 1: 6 */
                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp RET

                /* Row 2: 7 */
                &kp H       &kp J       &kp K       &kp L       &kp FSLH    &kp LBKT    &kp RBKT

                /* Row 3: 7 */
                &kp N       &kp M       &kp COMMA   &kp DOT     &kp SEMI    &kp UP      &kp GRAVE

                /* Row 4: 5 */
                &kp MINUS   &kp EQUAL   &kp LEFT    &kp DOWN    &kp RIGHT

                /* Row 5: 3 */
                &kp SPACE   &kp RALT    &kp RCTRL
            >;
        };
    };
};