#include "dactyl_suraj.dtsi"

/ {
    chosen {
        zmk,kscan = &left_kscan;
        zmk,physical-layout = &dactyl_suraj_layout;
    };
};

&dactyl_suraj_layout {
    transform = <&left_transform>;
    kscan = <&left_kscan>;
};